<!DOCTYPE html>
<html>
<head>
  <title>Oauthy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>

  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

<nav class="navbar navbar-dark bg-inverse">
  <div class="container">
    <a href="/" class="navbar-brand">OAuthy2</a>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="nav-item pull-right add-space"><%= image_tag, class: "nav-profile-image" %> </li>
        <li class="nav-item pull-right add-space nav-element">Signed in as <%= current_user.name %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Sign out", 'sign_out', method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with GitHub", "auth/github", class: "nav-link" %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Twitter", "auth/twitter", class: "nav-link" %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Facebook", "auth/facebook", class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <% if current_user %>
        <div class="text-center">
          <h1>Welcome, <%= current_user.name %></h1>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
